// Generated code (tools/templates/pages/model-page-endpoint.tsx.mustache)
export { default } from '~/gen/pages/{{pageName}}/ui'
export { default as getServerSideProps } from '~/gen/pages/{{pageName}}/data'
