export { default as  renderTitle } from "~/entitylib/{{modelName}}/create/titlebar/title";
export { default as  getTitle } from "~/entitylib/{{modelName}}/create/titlebar/title";
export { default as  renderSubTitle } from "~/entitylib/{{modelName}}/create/titlebar/subtitle";
export { default as  getSubTitle } from "~/entitylib/{{modelName}}/create/titlebar/subtitle";
export { default as  renderMainBtnTitle } from "~/entitylib/{{modelName}}/create/titlebar/main-btn-title";
export { default as  renderSubBtnTitle } from "~/entitylib/{{modelName}}/create/titlebar/sub-btn-title";
export { default as  showTitlebar } from "~/entitylib/{{modelName}}/create/titlebar/show-titlebar";
export { default as  showTitle } from "~/entitylib/{{modelName}}/create/titlebar/show-title";
export { default as  showSubtitle } from "~/entitylib/{{modelName}}/create/titlebar/show-subtitle";
export { default as  showTitlebarMainBtn } from "~/entitylib/{{modelName}}/create/titlebar/show-main-btn";
export { default as  showTitlebarSubBtn } from "~/entitylib/{{modelName}}/create/titlebar/show-sub-btn";
export { default as  showTitlebarSearch } from "~/entitylib/{{modelName}}/create/titlebar/show-search";

