const Mustache = require('mustache');
const mRender = Mustache.render;

type Context = {
  props:any;
}

const defaultSubtitle = ""

const renderSubTitle = (ctx: Context, template?:string) =>
  mRender(template||defaultSubtitle, ctx);

export default renderSubTitle;
